body {
  background-color: hsl(356, 76%, 83%);
  color: white;
  box-sizing: border-box;
}


p, h2 {
  color: black;
  opacity: 0.9;
}


.subtitle {
  color: white;
  font-weight: 200;
  margin: 0;
  opacity: 0.9;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

.book-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin-bottom: 2rem;
  padding: 0;
}

.book-list_item {
  font-size: 1.6rem;
  position: relative;
  padding: 1rem;
  height: 100%;
  font-weight: 200;
}

.book-list_item:hover {
  cursor: pointer;
}

.book-list_item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: white;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.book-list_item:hover:after {
  width: 100%;
  left: 0;
  background: white;
  opacity: 1;
}

#legend {
  font-size: 1rem;
  background: hsla(0,0%,100%, 0.8);
  padding: 10px;
  margin: 10px;
  color: black;
  border-radius: 8px;
}

.key-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

img {
  width: 1.5rem;
  height: 1.5rem;
}

#map {
  margin: 0 auto;
  width: 80vw;
  height: 70vh;
}

@media only screen and (max-width: 800px) {
  .book-list {
    flex-direction: column;
  }
}
